*{
    background: #f3f5fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.header h1{
    color: whitesmoke;
    background-color: #0A3871;
    text-align: center;
    font-size: smaller;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.textarea{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

.btn-copiar{
    position: absolute;
    padding: 5px 1px;
    color: #5784f5be;
    font-size: 20px;
    left: 8px;
    top:20%;
    border: 1px solid #5784f507;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;

}

.btn-copiar:hover{
    background-color: #1453f1;
    color: #fff;
}


::placeholder{ color: #0A3871; }
.textarea:focus{
    outline: none;
}

.mensaje{
    background: white;
    background-image: url("/img/spidy.png");
    background-size: 70%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px; 
    padding-left: 2px;
}

.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.informacion{
    color:#495057;
    font-size: 18px;
}

.footer{
    color: white;
    font-style: italic;
    text-align: center;
    font-size: small;
    background-color: #0A3871;
}